.products-page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 400px;
}

.products-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 1024px) {
    .products-page-container {
        width: 350px;
    }
}

@media (max-width: 768px) {
    .products-page-container {
        box-sizing: border-box;
        width: 100%;
    }
}
